.name-container {
    text-shadow: 3px 3px 2px black;
    background-color: #8b8a88; 
    width: fit-content; 
    font-size: 50px; 
    display: block; 
    padding: 20px; 
    margin: -15px auto;
    position: relative; 
    overflow-wrap: break-word; 
    line-height: 40px;
    font-weight: bold;
    border: 3px solid rgb(255, 255, 255);
}



