<app-sidenav>
    <app-flex-layout-wrapper>
        <div fxLayout="column">
            <div style="padding-top: 20px;">
                <div class="img-container">
                    <img src="assets/images/Jaden_Harding.jpeg">
                </div>
                <div class="name-container">Jaden Ross Harding</div>
            </div>    
            <div class="about">
                <div style="font-size: 35px; padding-bottom: 40px; font-weight: bold;" >About Me</div>
                <div class="text-container" style="font-size: 25px;" >I am currently a final year student at the North-West University in Potchefstroom. I am passionate about
                    web and app development. Thus far in my studies I was part of developing a functional point of sale system for a group task and a full-stack website for 
                    an individual task, making use of github for source control.
                </div>
                <div class="text-container" style="font-size: 25px; margin-top: 15px;">By the way, this CV site was developed using Angular, its Material library and Node.js.</div>
            </div>
        </div>
    </app-flex-layout-wrapper>
</app-sidenav>