<div *ngIf="loading"  >
    <app-load-spinner></app-load-spinner>
</div>
<div *ngIf="!loading" >
    <app-sidenav>
        <app-flex-layout-wrapper>
            <div fxLayout="column">
                <div style="padding-top: 20px;">
                    <div class="img-container">
                        <img src="assets/images/Jaden_Harding.jpeg">
                    </div>
                    <div class="name-container">Jaden Harding</div>
                </div>    
                <div class="about">
                        <div style="font-size: 35px; padding-bottom: 30px; font-weight: bold;" >About Me</div>
                        <div class="text-container" style="font-size: 25px;" >I am currently a final year student at the North-West University in Potchefstroom. I am passionate about
                            web and app development. Thus far in my studies I was part of developing a functional point of sale system for a team project and a full-stack website for 
                            an individual project, making use of GitHub for source control.
                        </div>
                        <div class="text-container" style="font-size: 25px; padding-top: 15px;">By the way, this CV site was developed using Angular, its Material library and the GitHub API.</div>
                    </div>
            </div>
        </app-flex-layout-wrapper>
    </app-sidenav>
</div>
